<h1>Monitor</h1>
<p>Monitor the price of your coins in different exchanges</p>

<table class="table">
  <tr>
    <th width="100">CryptoCoin</th>
    <th width="100">cryptsy</th>
    <th width="100">VOS</th>
    <th width="100">coinmarketcap</th>
    <th width="100">coinmarketcap [change 24h]</th>
  </tr>
  <% @ticker.map do |name, data| %>
    <tr>
        <td><%= name %></td>
        <td><%= data['cryptsy'] %></td>
        <td><%= data['vos'] %></td>
        <td><%= data['coinmarketcap']['price']['btc'] %></td>
        <td><%= data['coinmarketcap']['change'] %></td>
    </tr>
  <% end %>

</table>
